include ../../mixins/mixins
doctype html
html(lang="en")
  include ../../components/global/eng/head
  body.cabinet-page
    include ../../components/global/eng/body-gtm-noscript
    include ../../components/global/eng/header-half
    //main
    main.main
      include ../../pages/cabinet/eng/hero
      include ../../pages/cabinet/eng/gifts
      include ../../pages/cabinet/eng/connect
      include ../../pages/cabinet/eng/inviting
      include ../../pages/cabinet/eng/history
      include ../../pages/index/eng/faq
    include ../../components/global/eng/cookies
    include ../../components/global/eng/footer-cabinet
    include ../../components/modals/eng/modal
    include ../../components/global/scripts
