section.verify
  .container
    h1.verify__title Get verified on Discord server
    ul.verify-list
      li.verify-list-item
        img.verify-list-item__img(src="../img/verify-1.webp", alt="")
        p.verify-list-item__text Join to&nbsp;
          a.link(href="") XYRO Discord server
      li.verify-list-item
        img.verify-list-item__img(src="../img/verify-2.webp", alt="")
        p.verify-list-item__text Tap «Complete» button,
          br
          | and agree with the rules
      li.verify-list-item
        img.verify-list-item__img(src="../img/verify-3.webp", alt="")
        p.verify-list-item__text Complete the verification
          br
          | in the «✅ verify» channel
    a.btn.btn_primary
      +icon('btn-left')
      span Done! Go next
      +icon('btn-right')
