//header
header.header
  .container.header__container
    a.logo(href="./") logo
      img(src="../img/logo.svg", alt="Xyro logo")
    a.header-support(href="https://discord.com/channels/1193903112956682271/1193949250279706644" target="_blank") Support
      +icon('support')






