include ../../mixins/mixins
doctype html
html(lang="es")
  include ../../components/global/es/head
  body.cabinet
    include ../../components/global/es/header
    //main
    main.main
      include ../../pages/cabinet/es/hero
      include ../../pages/cabinet/es/gifts
      include ../../pages/cabinet/es/connect
      include ../../pages/cabinet/es/inviting
      include ../../pages/cabinet/es/history
      include ../../pages/index/es/faq
    include ../../components/global/es/cookies
    include ../../components/global/es/footer-cabinet
    include ../../components/modals/pages
    include ../../components/global/scripts
