include ../../mixins/mixins
doctype html
html(lang="ru")
  include ../../components/global/es/head
  body.wallet-page
    include ../../components/global/es/header-half
    //main
    main.main
      include ../../pages/wallet/es/wallet
      include ../../pages/wallet/es/create
      include ../../pages/index/es/prizes
      include ../../pages/index/es/faq
    include ../../components/global/es/cookies
    include ../../components/global/es/footer
    include ../../components/modals/pages
    include ../../components/global/scripts
