section.history
  .container.container_min.history__container
    a.history__back.wow.bounceInUp(data-wow-delay="0.1s" href="/eng/cabinet") Back
    h1.cabinet-title.history__title.wow.bounceInUp(data-wow-delay="0.1s") Prizes History
    ul.history-list.wow.bounceInUp(data-wow-delay="0.2s")
