section.ticket
  .ticket-loading
    video.ticket-loading__video#player(muted autoplay playsinline)
      source(src="../video/loader_desktop.webm" type="video/webm")
      source(src="../video/loader_desktop.mp4" type="video/mp4")
      source(src="../video/loader_desktop.ogg" type="video/ogg")
  .container.container_min.ticket__container.hide
    .ticket-img
      .ticket-img__bg
        img(src="../img/stars.webp", alt="")
        img(src="../img/ticket-bg.svg", alt="")
      img.ticket-img__current(src="../img/tickets/ps5.png", alt="")
    span.ticket__subtitle
      +icon('subtitle-left')
      | YOUR PRIZE
      +icon('subtitle-right')
    h1.ticket__title PlayStation 5 Card
    p.ticket__text PlayStation 5 Card
    .playstation-list__wrapper
      .playstation-list__count
        span.count 0
        | /10
      ul.playstation-list
        li.playstation-list__item.fill
          +icon('card-bg')
        li.playstation-list__item
          +icon('card-bg')
        li.playstation-list__item
          +icon('card-bg')
        li.playstation-list__item
          +icon('card-bg')
        li.playstation-list__item
          +icon('card-bg')
        li.playstation-list__item
          +icon('card-bg')
        li.playstation-list__item
          +icon('card-bg')
        li.playstation-list__item
          +icon('card-bg')
        li.playstation-list__item
          +icon('card-bg')
        li.playstation-list__item
          +icon('card-bg')
    a.btn_grey.ticket__btn(href="../eng/cabinet") Continue
  .container.container_min.ticket__container_error.hide
    h1.ticket__title We couldn't open the prize
    p.ticket__text Your prize has been saved, try punching in again
    .ticket__prizes
      .btn__wrapper
        a.btn.btn_primary.getticket(href="/eng/ticket")
          +icon('btn-left')
          span Claim your reward
          +icon('btn-right')
      a.ticket__back(href="../eng/cabinet")
        +icon('chevron')
        | Back

