include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.index
    include ../components/global/error-block
    include ../components/global/header
    //main
    main.main
      include ../pages/index/1-screen
      include ../pages/index/prizes
      include ../pages/index/about
      include ../pages/index/steps
      include ../pages/index/faq
    include ../components/global/bottom-timer
    include ../components/global/cookies
    include ../components/global/footer
    include ../components/modals/pages
    include ../components/global/scripts
