include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.wallet-page
    include ../components/global/header-half
    //main
    main.main
      include ../pages/wallet/wallet
      include ../pages/wallet/create
      include ../pages/index/prizes
      include ../pages/index/faq
    include ../components/global/cookies
    include ../components/global/footer
    include ../components/modals/pages
    include ../components/global/scripts
