.about {
  padding: 60px 0;
  text-align: center;
  @include mq('1280') {
    padding: 80px 0;
  }
  &__title {
    margin: 0 auto 16px;
    max-width: 805px;
  }
  &__text {
    margin: 16px auto 8px;
    max-width: 580px;
  }
}
.about-img {
  margin: 40px 0;
  @include mq('768') {
    margin: 60px 0;
  }
}
