section.prizes#prizes
  .container
    h2.prizes__title.wow.bounceInUp(data-wow-delay="0.2s") What The Prizes?
    .prizes-grid.wow.bounceInUp(data-wow-delay="0.3s")
      .prizes-grid__item
        .prize
          span.prize__title One of many NFTs
          p.prize__text Each NFT is a pass to the platform and a valuable prize
          picture
            source(srcset="./img/coins2x.png" media="(min-width: 768px)")
            img.prize__img(src="./img/coins.png", alt="One of many NFTs")
      .prizes-grid__item
        .prize
          span.prize__title PlayStation 5
          p.prize__text top gaming device with few latest games
          picture
            source(srcset="./img/sony-ps-desktop.png" media="(min-width: 768px)")
            img.prize__img(src="./img/sony-ps.png", alt="PlayStation 5")
      .prizes-grid__item.prizes-grid__item_half
        .prize
          span.prize__title Extra Points
          p.prize__text The points will help in the airdrop
          img.prize__img(src="./img/extrapoints.png", alt="Extra Points")
        .prize
          span.prize__title Up to 100 USDT
          p.prize__text Monetary prize
          img.prize__img(src="./img/usdt.png", alt="Monetary prize")

