//header
header.header
  .container.header__container
    a.logo(href="./") logo
      img(src="../img/logo.svg", alt="Xyro logo")
    nav.menu-list__wrapper
      ul.menu-list
        li.menu-list__item
          a.menu-list__link(href="./#about") What is XYRO?
        li.menu-list__item
          a.menu-list__link(href="./#steps") How to get access?
        li.menu-list__item
          a.menu-list__link(href="./#prizes") Prizes
        li.menu-list__item
          a.menu-list__link(href="./#faq") FAQ
    .language-switcher
      a(href).language-switcher__current EN
    a.header-support(href="#") Support
      +icon('support')






