.error-block {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  padding: 8px 16px;
  background: $errorBlockBg;
  display: none;
  .icon {
    width: 16px;
    height: 36px;
    margin-right: 5px;
  }
  &__text {
    color: $errorBlockColor;
    font-size: 14px;
    b {
      display: block;
      font-weight: 500;
    }

  }

}
