.footer {
  text-align: center;
  padding: 16px 0 16px;
  &__link {
    color: $text;
    &:hover {
      color: lighten($color: $text, $amount: 100%)
    }
  }
  &__text {
    font-size: 14px;
  }
  &_cabinet {
    .btn {
      margin-top: 24px;
      @include mq('768') {
        margin-top: 0;
      }
    }
    .container {
      max-width: 692px;
      margin: 0 8px;
      width: calc(100% - 16px);
      @include mq('768') {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}
