.footer {
  text-align: center;
  padding: 16px 0 197px;
  @include mq('768') {
    padding: 16px 0 150px;
  }
  &__link {
    color: $text;
    &:hover {
      color: lighten($color: $text, $amount: 100%)
    }
  }
  &__text {
    font-size: 14px;
  }
}
