//header
header.header
  .container.header__container
    a.logo(href="./") logo
      img(src="./img/logo.svg", alt="Xyro logo")
    .language-switcher
      span.language-switcher__current EN
      ul.language-switcher__list
        li.language-switcher__item.current EN
        li.language-switcher__item ES
    a.header-support(href="#") Support
      +icon('support')






