section.about#about
  .container
    h2.about__title.wow.bounceInUp(data-wow-delay="0.2s") The world's first Gamified Social trading platform
    p.about__text.wow.bounceInUp(data-wow-delay="0.2s") We leverage the power of gamification to make Web3 both accessible and attractive!
    picture
      source(srcset="../img/about-desktop.webp" media="(min-width: 1280px)")
      source(srcset="../img/about-tablet.webp" media="(min-width: 768px)")
      img.about-img.wow.bounceInUp(src="../img/about.webp", alt="The world's first Gamified Social trading platform" data-wow-delay="0.2s")



