section.faq#faq
  .container.faq__container
    h2.faq__title.wow.bounceInUp(data-wow-delay="0.2s") Questions and Answers
    ul.faq-list.wow.bounceInUp(data-wow-delay="0.3s")
      li.faq-item
        .faq-item__title
          span.faq-item__question What is XYRO?
          +icon('arrow-faq')
        .faq-item__text
          p XYRO is the world's first Gamified Social trading platform.
            br
            | We’re blending GameFi &amp; SocialFi to revolutionize trading and prediction making, making crypto both accessible and attractive.
      li.faq-item
        .faq-item__title
          span.faq-item__question What is the XYRO referral program?
          +icon('arrow-faq')
        .faq-item__text
          p The referral program allows you to receive prizes for inviting friends or your subscribers! Each new friend is a ticket that can be raffled off and get a random but guaranteed prize! All you have to do is invite friends using your unique link, which everyone has in their account. To get into your account, you must fulfill these conditions: add yourself to the XYRO Discord server, specify your wallet ID in the Arbitrum network, pass verification on the Discord server, voila - you are now in your account, with prizes and a unique link. Now, you can safely send this link to your friends and followers or fulfill the conditions for a welcome prize!
      li.faq-item
        .faq-item__title
          span.faq-item__question What rewards are part of the program?
          +icon('arrow-faq')
        .faq-item__text
          p Our program offers many different reward tickets with guaranteed winnings. More invitations = more gifts!
          p Here are the types of prizes that you may receive as part of the referral program:
          ul.faq-sublist
            li Whitelist NFT tickets (Common, Rare, Epic, or Legendary). Beyond owning a digital asset, each Whitelist NFT is your key to exclusive privileges such as early Beta Test access to preview new features and eligibility for the Competitive Airdrop, rewarding your loyalty with perks that increase in value with your NFT's rarity. They also grant:
              ul.faq-sublist
                li Common NFT = 250 extra points;
                li Rare NFT = 500 extra points;
                li Epic NFT = 1,000 extra points;
                li Legendary NFT = 2,000 extra points;
            li Extra Points tickets: аllow participants to receive from 10 Points to 50 Points per ticket. Your draws may get more points, but the maximum we can send you is&nbsp;
              b not more than 1500;
            li USDT Prize tickets: аllow participants to receive from 0.1 USDT to 10 USDT per ticket to your wallet. Your draws may get more points, but the maximum total USDT rewards we can send per participant -&nbsp;
              b no more than 50 USDT and not less than 3 USDT&nbsp;
              | (inclusive) during the promo period ⚠️ (because the gas is expensive - we can't reward every participant who collected not much USDT rewards and spend ~10 USDT on gas additionally in every case). Just invite more friends using your link!;
            li Sony PlayStation 5 tickets: allow participants to receive 1 PlayStation 5 Console for every 10 collected “PlayStation 5” tickets.
      li.faq-item
        .faq-item__title
          span.faq-item__question How to participate in the program?
          +icon('arrow-faq')
        .faq-item__text
          p First, ensure that you've clicked on a friend's referral link. If you've already been a member of our community before, unfortunately, your friend won't be rewarded for participating. At the moment of the program's launch, we've taken snapshots to ensure fair reward distribution. However, if you're new to XYRO, here's what you need to do:
            ul.faq-sublist
              li Join the XYRO Discord channel. If you don't have an account, simply click the "Login via Discord" button and complete the registration process.
              li Once logged in, you'll be prompted to input your Arbitrum wallet address. If you already have one, copy and paste it into the provided field. Remember to provide only your wallet ID (e.g., "0x..."), and never share your seed phrase. If you encounter an error, verify that the wallet exists and there are no typos by using&nbsp;
                a.link(href="https://etherscan.io/" target="_blank") https://etherscan.io/
                | . If you're still experiencing issues, click on "Contact Support" and describe your problem.
              li If you don't have a wallet yet, refer to the information in the tab below for guidance.
              li Finally, click the "Next" button, and you can start earning rewards through our referral program!
      li.faq-item
        .faq-item__title
          span.faq-item__question How can I install and set up Arbitrum Wallet?
          +icon('arrow-faq')
        .faq-item__text
          p If you haven't set up a wallet on the Polygon network yet, follow these steps:
          ul.faq-sublist.faq-sublist_num
            li Visit&nbsp;
              a.link(href="https://metamask.io/download" target="_blank") https://metamask.io/download
              | &nbsp;and choose your device - iOS, Android, or Web
            li Install the application and launch it.
            li Once you're in, click "Create New Wallet" and choose a strong password. Remember to keep it secure!
            li It's also recommended that you create and save a SEED phrase. This is crucial for account recovery, so store it safely.
            li Once your wallet is set up, look for the Ethereum logo in the corner and click on it. Then, select "Add Network."
            li Find Arbitrum One in the list, select it, and approve the network. Finally, switch to the Arbitrum One.
            li Now, click on your wallet address (it should start with "0x...") in the center of the screen to copy it.
            li Return to the referral program's landing page, paste your address, and click "Next" to proceed.
      li.faq-item
        .faq-item__title
          span.faq-item__question Now that you're whitelisted, what's next?
          +icon('arrow-faq')
        .faq-item__text
          ul.faq-sublist.faq-sublist_num
            li We update the whitelist daily! Your wallet address will be added to the list within approximately 24 hours.
            li Go to&nbsp;
              a.link(href="https://xyro.io/#mint-nft" target="_blank") xyro.io/#mint-nft
            li Ensure you have enough ETH on Arbitrum to pay for gas (at least 0,15 $USDT/0,0000038 $ETH).
            li Press the MINT button according to your winning’s rarity.
            li Congratulations, you’re a holder of a XYRO Whitelist NFT!
          p Important note: Join our Discord to learn about ongoing activities and exclusive announcements for Whitelist NFT holders!
      li.faq-item#nft
        .faq-item__title
          span.faq-item__question How can I redeem my collected prizes?
          +icon('arrow-faq')
        .faq-item__text
          ul.faq-sublist
            li NFT winners' wallets will be added to the mint list within 48 hours after the draw. To mint your NFT, follow these steps:
              ul.faq-sublist
                li Go to&nbsp;
                  a.link(href="https://xyro.io/#mint-nft" target="_blank") xyro.io/#mint-nft
                  | ;
                li Make sure you have enough ETH on Arbitrum to pay for gas, which depends on the network load and status;
                li Press the MINT button according to your winning’s rarity.
            li USDT Prizes: will be sent in USDT within 7 days after the completion of the referral program to the Participant’s wallet, which they indicated during registration in the XYRO community. We will send&nbsp;
              b not more than 50 USDT and not less than 3 USDT&nbsp;
              | (inclusive) during the promo period ⚠️ (because the gas is expensive - we can't reward every participant who collected not much USDT rewards and spend ~10 USDT on gas additionally in every case). Just invite more friends using your link!
            li Sony Playstation 5 will be sent to the winner in 30 days after drawing and confirmation of the winner's shipping address;
            li Extra Points will be credited to the account of a winner during the XYRO beta-test period. Your draws may get more points, but the maximum we can send you is not more than 1500.
      li.faq-item
        .faq-item__title
          span.faq-item__question Additional information for potential program abusers
          +icon('arrow-faq')
        .faq-item__text
          p We caution potential abusers that if we suspect wallets were automatically generated or not intended for genuine participation in our community and rewards but solely for profit, we reserve the right to withhold rewards. Please refrain from undermining the program’s integrity for honest users. We're committed to serving them and exploring the possibilities of WEB3 and enjoyable gaming experiences within our ecosystem.
    .support.wow.bounceInUp(data-wow-delay="0.3s")
      .support__left
        span.support__title Need help?
        p.support__text Tell us about your problem - we'll help you figure it out.
      a.btn.btn_discord.btn_support(href="https://discord.com/channels/1193903112956682271/1230823712064933959" target="_blank")
        +icon('btn-bg')
        span
          +icon('discord')
          | Chat Support




