section.steps#steps
  .container
    h2.steps__title.wow.bounceInUp(data-wow-delay="0.2s") How do I get access?
    p.steps__text.wow.bounceInUp(data-wow-delay="0.3s") And secure a Whitelist NFT, cash bonuses, a PlayStation 5, or other valuable rewards
    ul.steps-list.wow.bounceInUp(data-wow-delay="0.3s")
      li.steps-list__item
        +icon('list-bg')
        | Login with Discord
      li.steps-list__item
        +icon('list-bg')
        | Join our socials
      li.steps-list__item
        +icon('list-bg')
        | Enter your Arbitrum wallet's address
      li.steps-list__item
        +icon('list-bg')
        | Claim your reward
      li.steps-list__item
        +icon('list-bg')
        | Invite friends to get more prizes

