//first-screen
section.first-sc
  .container
    span.first-sc__subtitle.wow.bounceInUp(data-wow-delay="0.1s") XYRO Referral Program
    h1.first-sc__title.wow.bounceInUp(data-wow-delay="0.2s") Last chance
      br
      | to be whitelisted
    p.first-sc__text.wow.bounceInUp(data-wow-delay="0.3s") Get a Whitelist for XYRO, deposit bonus and more prizes


