section.connect
  .container.container_min.connect__container
    h2.cabinet-title.connect__title Get Your Welcome Prize
    p.connect__text Follow our socials to get a prize. We check your subscriptions every 15 minutes.
    ul.connect-list
      li.connect-list-item.tw
        +icon('tw')
        .connect-list-item__content
          span.connect-list-item__title Follow our X account
          span.connect-list-item__status Connect your account first
          a.connect-list-btn Connect
      li.connect-list-item.tg
        +icon('telegram')
        .connect-list-item__content
          span.connect-list-item__title Join our Telegram channel
          span.connect-list-item__status via Telegram bot
          a.connect-list-btn Go to Telegram
