section.hero
  .container.container_min.hero__container
    .hero-prizes
      +icon('gift')
      span.hero-prizes__count 0
    a.btn.btn_primary.btn_disabled
      +icon('btn-left')
      span Open a gift
      +icon('btn-right')
