section.history
  .container.container_min.history__container
    h2.cabinet-title.history__title Prizes History
      span.arrow
        +icon('arrow-bg')
        +icon('chevron')
    .history-pending
      +icon('clock')
      .history-pending__content
        span.history-pending__title Welcome prize
        span.history-pending__status Pending
      +icon('chevron')




