.history {
  padding: 48px 0;
  @include mq('768') {
    padding: 48px 0 12px;
  }
  &__title {
    display: flex;
    align-items: center;
    padding-left: 8px;
    @include mq('768') {
      padding-left: 0px;
    }
    .arrow {
      display: inline-flex;
      width: 40px;
      height: 36px;
      padding: 6px 8px;
      position: relative;
      margin-left: 8px;
      cursor: pointer;
      &:hover {
        .icon-arrow-bg {
          fill: rgba($color: $beige, $alpha: 0.4);
        }
      }
      .icon-arrow-bg {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        fill: rgba($color: $beige, $alpha: 0.08);
        transition: $transition;
      }
      .icon-chevron {
        width: 100%;
        height: 100%;
        fill: $white;
      }
    }
  }
  &__container {
    padding: 0;
    @include mq('768') {
      background: $bg2;
      border-radius: 12px;
      padding: 24px 24px 32px;
    }
  }
}

.history-list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  &-item {
    display: flex;
    background: $gray2;
    border-radius: 12px;
    padding: 8px 16px;
    align-items: center;
    margin-top: 8px;
    cursor: pointer;
    &__img {
      width: 36px;
      height: 36px;
      margin-right: 12px;
      display: block;
      pointer-events: none;
      object-fit: contain;
    }
    .icon-chevron {
      width: 16px;
      height: 24px;
      margin-left: auto;
      display: block;
      background: url(../img/chevron.svg) no-repeat;
      pointer-events: none;
    }
    &__content {
      pointer-events: none;
    }
    &__title  {
      color: $white;
      font-weight: 500;
      display: block;
      margin-bottom: 2px;
      pointer-events: none;
    }
    &__status {
      pointer-events: none;
    }
    a {
      font-size: 0;
      position: absolute;
      pointer-events: none;
    }
  }
}
