section.hero#openAGift
  .container.container_min.hero__container
    .hero-prizes
      +icon('gift')
      span.hero-prizes__count 0
    a.btn.btn_primary.getticket.btn_disabled(href="/en/ticket")
      +icon('btn-left')
      span Open a gift
      +icon('btn-right')
