section.hero
  .container.container_min.hero__container#openAGift
    .hero-prizes
      +icon('gift')
      span.hero-prizes__count 0
    a.btn.btn_primary.getticket(href="/en/ticket")
      +icon('btn-left')
      span Open a gift
      +icon('btn-right')
