section.history
  .container.container_min.history__container
    a(href="/en/history.html")
      h2.cabinet-title.history__title Prize History
        span.arrow
          +icon('arrow-bg')
          +icon('chevron')
    ul.history-list




