section.history
  .container.container_min.history__container
    h2.cabinet-title.history__title Prize History
      a(href="/en/history.html")
        span.arrow
          +icon('arrow-bg')
          +icon('chevron')
    ul.history-list




