section.inviting
  .container.container_min.inviting__container
    h2.cabinet-title.inviting__title Receive Gifts for Referring Friends
    ul.inviting-list
      li.inviting-list__item
        +icon('num-bg')
        | Share your personalized link with a friend
      li.inviting-list__item
        +icon('num-bg')
        | Once your friend meets all conditions, both of you will receive a prize
    .inviting__bottom
      .copyInput__wrapper
        +icon('btn-left')
        span.copyInput(data-text="ref.xyro.io/r?=PROMO") ref.xyro.io/r?=PROMO
        +icon('btn-right')
        btn.btn_copy copy
          +icon('copy')
      ul.inviting-soclist
        li.inviting-soclist__item
          a(href="#").inviting-soclist__link discord
            +icon('soc-left')
            +icon('discord')
        li.inviting-soclist__item
          a(href="#").inviting-soclist__link twitter
            +icon('soc-middle')
            +icon('tw')
        li.inviting-soclist__item
          a(href="#").inviting-soclist__link telegram
            +icon('soc-right')
            +icon('telegram')





