section.faq#faq
  .container.faq__container
    h2.faq__title.wow.bounceInUp(data-wow-delay="0.2s") Questions and Answers
    ul.faq-list.wow.bounceInUp(data-wow-delay="0.3s")
      li.faq-item
        .faq-item__title
          span.faq-item__question What is XYRO?
          +icon('arrow-faq')
        .faq-item__text
          p XYRO is the world's first Gamified Social trading platform.
            br
            | We’re blending GameFi &amp; SocialFi to revolutionize trading and prediction making, making crypto both accessible and attractive.
      li.faq-item
        .faq-item__title
          span.faq-item__question What is the XYRO referral program?
          +icon('arrow-faq')
        .faq-item__text
          p The referral program allows you to receive prizes for inviting friends or your subscribers! Each new friend is a ticket that can be raffled off and get a random, but guaranteed prize! You need to invite friends using your unique link, which everyone has in their personal account. To get into your personal account, you need to fulfill the conditions - add yourself to the XYRO Discord server, then specify your wallet ID in the Arbitrum network, pass verification on the discord server, voila - you are in your personal account, with prizes and a unique link. Now you can safely send this link to your friends and social media or fulfill the conditions for a welcome prize!
      li.faq-item
        .faq-item__title
          span.faq-item__question What rewards are part of the program?
          +icon('arrow-faq')
        .faq-item__text
          p Our program has an abundance of different gifts for tickets, and each of them is a winning one. More invitations, more gifts!
          p Here are the types of prizes that the client may receive as part of the referral program:
          ul.faq-sublist
            li Whitelist NFT ticket (Common, Rare, Epic or Legendary). Beyond owning a digital asset, each Whitelist NFT is your key to exclusive privileges such as early Beta Test access to preview new features and eligibility for the Competitive Airdrop, rewarding your loyalty with perks that increase in value with your NFT's rarity. They also give:
              ul.faq-sublist
                li Common NFT = 250 extra points;
                li Rare NFT = 500 extra points;
                li Epic NFT = 1,000 extra points;
                li Legendary NFT = 2,000 extra points;
            li Extra Points tickets: аllow participants to receive from 10 Points to 250 Points per ticket;
            li USDT Prize tickets: аllow participants to receive from 0.1 USDT to 50 USDT per ticket to your wallet. We will send USDT rewards to participants who collect more than 10 USDT (inclusive) during the promo period ⚠️ (because the gas is expensive - we can't reward every participant who collected less than 1-10 USDT and spend ~10 USDT on gas additionally). Just invite more friends using your link!;
            li Sony PlayStation 5 tickets: allow participants to receive 1 PlayStation 5 Console for every 10 collected “PlayStation 5” tickets.
      li.faq-item
        .faq-item__title
          span.faq-item__question How to participate in the program?
          +icon('arrow-faq')
        .faq-item__text
          p So, first of all, check that you clicked on a friend's link. If you were previously a member of the community, unfortunately, a friend will not receive a gift for you. If you are completely new, see what you need:
            ul.faq-sublist
              li Join the XYRO Discord channel. If you don't have an account, just click on the Log In via Discord button and register.
              li Then you will be taken to the Arbitrum wallet input field. If you have one, just copy it in your wallet and paste it. In no case do not pass your seed phrase, only the wallet ID of the type “0x …”. If an error is displayed, double-check that the wallet exists and you did not make a mistake using&nbsp;
                a.link(href="https://etherscan.io/" target="_blank") https://etherscan.io /
                | . If it was helpless, click “Contact Support” and describe your problem.
              li If there is no wallet, read the tab with the answer below.
              li Click on the Next button.
              li Voila, you're in the referral account!
      li.faq-item
        .faq-item__title
          span.faq-item__question How can I install and set up an Arbitrum Wallet?
          +icon('arrow-faq')
        .faq-item__text
          p If you don't have a wallet on the polygon network yet, here are the steps you need to take:
          ul.faq-sublist.faq-sublist_num
            li Go to&nbsp;
              a.link(href="https://metamask.io/download" target="_blank") https://metamask.io/download
            li Select a device - iOS, Android or Web
            li To install the application
            li After going to it, click Create New Wallet
            li Create a strong password and enter it twice. Do not give it to anyone and keep it in a safe place!
            li We also recommend creating and saving a SEED phrase. It cannot be restored, so keep it in a safe place too.
            li Voila - you are in the wallet. In the corner you will see an Ethereum crystal - click on it, then click “Add network”
            li Find Polygon in the list → Select → Approve → Switch to Arbitrum Mainnet
            li Click on the address of the type “0x...” in the center of the screen, this will copy your address.
            li Go back to the landing page of the referral program, paste the address and click “Go Next”
      li.faq-item
        .faq-item__title
          span.faq-item__question Ok, now you’re whitelisted! What’s next?
          +icon('arrow-faq')
        .faq-item__text
          ul.faq-sublist.faq-sublist_num
            li We update the whitelist daily! Your wallet address will be added to the list in ~24 hours!
            li Go to&nbsp;
              a.link(href="https://xyro.io/#mint-nft" target="_blank") xyro.io/#mint-nft
            li Make sure you have enough ETH on Arbitrum to pay for gas (at least 0,15 $USDT/0,0000038 $ETH).
            li Press the MINT button according to your winning’s rarity.
            li Congratulations, you’re a holder of XYRO Whitelist NFT!
          p Important: Join our Discord to know more about ongoing activities and exclusive announcements for Whitelist NFTs’ holders!
      li.faq-item#nft
        .faq-item__title
          span.faq-item__question How do I get the prizes that I collected?
          +icon('arrow-faq')
        .faq-item__text
          ul.faq-sublist
            li Wallets of NFT winners will be added to the mint list during next 48 hours from drawing;
            li NFT’s should be minted by participant personally, by taking the following steps:
              ul.faq-sublist
                li Go to&nbsp;
                  a.link(href="https://xyro.io/#mint-nft" target="_blank") xyro.io/#mint-nft;
                li Make sure you have enough ETH on Arbitrum to pay for gas, which depends on the network load and status;
                li Press the MINT button according to your winning’s rarity.
            li USDT Prizes: will be sent in USDT within 7 days after the completion of the referral program to the Participant’s wallet, which they indicated during registration in the XYRO community. We will send USDT rewards to participants who collect more than 10 USDT (inclusive) during the promo period ⚠️ (because the gas is expensive - we can't reward every participant who collected less than 1-10 USDT and spend ~10 USDT on gas additionally). Just invite more friends using your link!;
            li Sony Playstation 5 will be sent to the winner in 30 days after drawing and confirmation of the winner's shipping address;
            li Extra Points will be credited to the account of a winner during the XYRO beta-test period.
      li.faq-item
        .faq-item__title
          span.faq-item__question Additional information for potential program abusers
          +icon('arrow-faq')
        .faq-item__text
          p We also warn potential abusers that if we have suspicions that the wallets were generated automatically or not for the purpose of participating in our community and receiving rewards, but for the sake of easy profit, we reserve the right to not pay the reward. Please do not ruin the program for honest users, because we are diligently working through our ecosystem to serve them and open up the possibilities of WEB3 and really fun gaming.
    .support.wow.bounceInUp(data-wow-delay="0.3s")
      .support__left
        span.support__title Need help?
        p.support__text Need Email us about your problem - we'll help you figure it out
      a.btn.btn_discord.btn_support(href="https://discord.com/channels/1193903112956682271/1230823712064933959" target="_blank")
        +icon('btn-bg')
        span
          +icon('discord')
          | Chat Support




