section.faq#faq
  .container.faq__container
    h2.faq__title.wow.bounceInUp(data-wow-delay="0.2s") Questions? Answers.
    ul.faq-list.wow.bounceInUp(data-wow-delay="0.3s")
      li.faq-item
        .faq-item__title
          span.faq-item__question When do I need to start fulfilling the terms and conditions of the raffle?
          +icon('arrow-faq')
        .faq-item__text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, neque? Ipsum quidem facilis ad. Iste sint architecto provident, temporibus tempore qui eligendi consequuntur, porro rerum saepe aliquam neque esse vero.
      li.faq-item
        .faq-item__title
          span.faq-item__question How do I get the prize?
          +icon('arrow-faq')
        .faq-item__text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, neque? Ipsum quidem facilis ad. Iste sint architecto provident, temporibus tempore qui eligendi consequuntur, porro rerum saepe aliquam neque esse vero.
      li.faq-item
        .faq-item__title
          span.faq-item__question How to get more than 1 prize?
          +icon('arrow-faq')
        .faq-item__text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, neque? Ipsum quidem facilis ad. Iste sint architecto provident, temporibus tempore qui eligendi consequuntur, porro rerum saepe aliquam neque esse vero.
      li.faq-item
        .faq-item__title
          span.faq-item__question What events do I need to bet on to participate?
          +icon('arrow-faq')
        .faq-item__text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, neque? Ipsum quidem facilis ad. Iste sint architecto provident, temporibus tempore qui eligendi consequuntur, porro rerum saepe aliquam neque esse vero.
      li.faq-item
        .faq-item__title
          span.faq-item__question Information for scammers
          +icon('arrow-faq')
        .faq-item__text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, neque? Ipsum quidem facilis ad. Iste sint architecto provident, temporibus tempore qui eligendi consequuntur, porro rerum saepe aliquam neque esse vero.
    .support.wow.bounceInUp(data-wow-delay="0.3s")
      .support__left
        span.support__title Need help?
        p.support__text Need Email us about your problem - we'll help you figure it out
      a.btn.btn_discord.btn_support
        +icon('btn-bg')
        span
          +icon('discord')
          | Chat Support




