section.prizes#prizes
  .container
    h2.prizes__title.wow.bounceInUp(data-wow-delay="0.2s") What The Prizes?
    .prizes-grid.wow.bounceInUp(data-wow-delay="0.3s")
      .prizes-grid__item
        .prize
          span.prize__title One of many NFTs
          p.prize__text
            span.beige Common
            | ,&nbsp;
            span.blue Rare
            | ,&nbsp;
            span.violet Epic&nbsp;
            | and&nbsp;
            span.orange Legendary&nbsp;
            | — each NFT is a pass to the platform and a valuable prize
          picture
            source(srcset="../img/coins2x.webp" media="(min-width: 768px)")
            img.prize__img(src="../img/coins.webp", alt="One of many NFTs")
      .prizes-grid__item
        .prize
          span.prize__title PlayStation 5
          p.prize__text top gaming device with few latest games
          picture
            source(srcset="../img/sony-ps-desktop.webp" media="(min-width: 768px)")
            img.prize__img(src="../img/sony-ps.webp", alt="PlayStation 5")
      .prizes-grid__item
        .prize
          span.prize__title Extra Points
          p.prize__text The points will help in the airdrop
          img.prize__img(src="../img/extrapoints.webp", alt="Extra Points")
        .prize
          span.prize__title Up to 100 USDT
          p.prize__text Monetary prize
          img.prize__img(src="../img/usdt.webp", alt="Monetary prize")

