section.gifts
  .container.container_min.gifts__container
    h2.cabinet-title.gifts__title Prizes
    .slider__wrapper
      .slider__nav
        btn.slider__arrow.slider__left.slider__arrow_disabled prev
          +icon("chevron")
        btn.slider__arrow.slider__right next
          +icon("chevron")
      .slider.keen-slider#slider
        .slider__item.slider-item.keen-slider__slide(style="min-width: 240px; max-width: 240px")
          span.slider-item__text PlayStation 5
          p.slider-item__descrb The prize is yours! Write to us in Discord in the&nbsp;
            a.link(href="https://discord.com/channels/1193903112956682271/1230823712064933959" target="_blank") #ref_support
              br
              | channel
          .playstation-list__wrapper
            .playstation-list__count
              span.count 0
              | /10
            ul.playstation-list
              li.playstation-list__item
                +icon('card-bg')
              li.playstation-list__item
                +icon('card-bg')
              li.playstation-list__item
                +icon('card-bg')
              li.playstation-list__item
                +icon('card-bg')
              li.playstation-list__item
                +icon('card-bg')
              li.playstation-list__item
                +icon('card-bg')
              li.playstation-list__item
                +icon('card-bg')
              li.playstation-list__item
                +icon('card-bg')
              li.playstation-list__item
                +icon('card-bg')
              li.playstation-list__item
                +icon('card-bg')
          img.slider-item__img(src="../img/prize-1.webp", alt="PlayStation 5", loading="lazy", width="196", height="84", type="image/webp")
          a.btn.btn_share(href="")
            +icon('telegram')
            | Share Video
        .slider__item.slider-item.keen-slider__slide
          span.slider-item__text Legendary NFT
          img.slider-item__img(src="../img/prize-2.webp", alt="Legendary NFT", loading="lazy", width="95", height="95", type="image/webp")
        .slider__item.slider-item.keen-slider__slide
          span.slider-item__text Epic NFT
          img.slider-item__img(src="../img/prize-3.webp", alt="Epic NFT", loading="lazy", width="95", height="95", type="image/webp")
        .slider__item.slider-item.keen-slider__slide
          span.slider-item__text Rare NFT
          img.slider-item__img( src="../img/prize-4.webp", alt="Rare NFT", loading="lazy", width="95", height="95", type="image/webp")
        .slider__item.slider-item.keen-slider__slide
          span.slider-item__text Common NFT
          img.slider-item__img(src="../img/prize-5.webp", alt="Common NFT", loading="lazy", width="95", height="95", type="image/webp")
        .slider__item.slider-item.keen-slider__slide
          span.slider-item__text Up to 1500 Extra Points
          img.slider-item__img(src="../img/prize-6.webp", alt="Up to 1500 Extra Points", loading="lazy", width="160", height="124", type="image/webp")
        .slider__item.slider-item.keen-slider__slide(style="min-width: 180px; max-width: 180px")
          span.slider-item__text Up to 50 USDT
          img.slider-item__img(src="../img/prize-7.webp", alt="Up to 50 USDT", loading="lazy", width="160", height="124", type="image/webp")
        .slider__item.slider-item.keen-slider__slide(style="min-width: 20px; max-width: 20px; background: transparent")

