.btn {
  display: flex;
  align-items: center;
  font-weight: 600;
  height: 52px;
  line-height: 52px;
  padding: 0;
  letter-spacing: -0.32px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 100%;
  .icon-btn-left, .icon-btn-right, .icon-btn-left-d, .icon-btn-right-d {
    height: 100%;
    width: 21px;
    flex-basis: 21px;
    flex-grow: 0;
    flex-shrink: 0;
    transition: $transition;
    position: relative;
  }
  .icon-btn-left, .icon-btn-left-d {
    left: 1px;
  }
  .icon-btn-right, .icon-btn-right-d {
    right: 1px;
  }
  .icon-btn-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  span {
    display: flex;
    flex-grow: 3;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
  }

  .icon-btn-bg-right {
    left: auto;
    right: 0;
  }
  @include mq('768') {
    width: 190px;
  }
}

.btn_primary {
  color: $black;
  height: 48px;
  line-height: 48px;
  .icon-btn-left, .icon-btn-right {
    fill: $main;
  }
  span {
    transition: $transition;
    background: $main;
    font-weight: 600;
  }

  &:hover {
    color: $black;
    .icon-btn-left, .icon-btn-right {
      fill: $mainHover;
    }
    span {
      background: $mainHover;
    }
  }
}

.btn_discord {
  color: $white;
  min-width: 204px;
  z-index: 1;
  width: 270px;
  @include mq('768') {
    width: 270px;
  }
  .icon-discord {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: $white;
    position: relative;
    z-index: 1;
    transition: $transition;
  }

  span {
    background: $support;
    transition: $transition;
  }

  .icon-btn-right-d, .icon-btn-left-d {
    fill: $support;
    transition: $transition;
  }

  &:hover {
    color: $white;
    .icon-btn-right-d, .icon-btn-left-d {
      fill: $supportHover;
    }
    span {
      background: $supportHover;
    }
  }
}

.btn_support {
  max-width: 204px;
  color: $support;
  .icon-discord {
    fill: $support;
  }
  span {
    background: transparent;
  }
  .icon-btn-bg {
    fill: rgba($color: $support, $alpha: 0.16);
    width: 100%;
    height: 100%;
  }
  &:hover {
    color: lighten($color: $support, $amount: 20%);
    .icon-discord {
      fill: lighten($color: $support, $amount: 20%);
    }
    span {
      background: transparent;
    }
  }
}

.btn__wrapper {
  position: relative;
  .error__text {
    color: $error;
    font-size: 12px;
    letter-spacing: -0.24px;
    text-align: center;
    margin-top: 8px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .error + .error__text {
    display: block;
  }
}

.btn_disabled {
  color: $disabledColor;
  pointer-events: none;
  span {
    background: $disabledBg;
  }
  .icon-discord {
    fill: $disabledColor;
  }
  .icon-btn-left, .icon-btn-right, .icon-btn-left-d, .icon-btn-right-d, .icon-btn-bg {
    fill: $disabledBg;
  }

  .icon-btn-left, .icon-btn-left-d {
    left: 0px;
  }
  .icon-btn-right, .icon-btn-right-d {
    right: 0px;
  }
}


.btn.btn_logout {
  display: block;
  background: $logout;
  border-radius: 8px;
  height: 36px;
  line-height: 36px;
  width: 100%;
  text-align: center;
  padding: 0 12px;
  color: rgba($color: $beige, $alpha: 0.6);
  @include mq('768') {
    width: fit-content;
  }
}

.btn_grey {
  display: block;
  background: $logout;
  border-radius: 8px;
  height: 36px;
  line-height: 36px;
  width: 100%;
  text-align: center;
  padding: 0 12px;
  color: $white;
  transition: $transition;
  cursor: pointer;
  &:hover {
    background: lighten($color: $logout, $amount: 10%);
    color: $white;
  }
}

.btn_share {
  width: 100%;
  display: inline-flex;
  background: $blue2;
  color: $white;
  justify-content: center;
  border-radius: 8px;
  font-weight: 500;
  line-height: 36px;
  height: 36px;
  padding: 0 20px;
  &:hover {
    background: lighten($color: $blue2, $amount: 10%);
    color: $white;
  }
  .icon-telegram {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: $white;
  }
}
