include ../../mixins/mixins
doctype html
html(lang="en")
  include ../../components/global/en/head
  body.cabinet-page
    include ../../components/global/en/header-half
    //main
    main.main
      include ../../pages/cabinet/en/hero
      include ../../pages/cabinet/en/gifts
      include ../../pages/cabinet/en/connect
      include ../../pages/cabinet/en/inviting
      include ../../pages/cabinet/en/history
      include ../../pages/index/en/faq
    include ../../components/global/en/cookies
    include ../../components/global/en/footer-cabinet
    include ../../components/modals/en/modal
    include ../../components/modals/pages
    include ../../components/global/scripts
