include ../../mixins/mixins
doctype html
html(lang="en")
  include ../../components/global/en/head
  body.cabinet-page
    include ../../components/global/en/header
    //main
    main.main
      include ../../pages/getprize/en/getprize
    include ../../components/global/en/cookies
    include ../../components/global/en/footer-cabinet
    include ../../components/modals/pages
    include ../../components/global/scripts
