include ../../mixins/mixins
doctype html
html(lang="en")
  include ../../components/global/en/head
  body.history-page
    include ../../components/global/en/body-gtm-noscript
    include ../../components/global/en/header-half
    //main
    main.main
      include ../../pages/history/en/history
    include ../../components/global/en/cookies
    include ../../components/global/en/footer-cabinet
    include ../../components/modals/en/modal
    include ../../components/global/scripts
