include ../../mixins/mixins
doctype html
html(lang="en")
  include ../../components/global/en/head
  body.index
    include ../../components/global/en/body-gtm-noscript
    include ../../components/global/en/error-block
    include ../../components/global/en/header
    //main
    main.main
      include ../../pages/index/en/1-screen
      include ../../pages/index/en/prizes
      include ../../pages/index/en/about
      include ../../pages/index/en/steps
      include ../../pages/index/en/faq
    include ../../components/global/en/bottom-timer
    include ../../components/global/en/cookies
    include ../../components/global/en/footer
    include ../../components/global/scripts
