include ../../mixins/mixins
doctype html
html(lang="en")
  include ../../components/global/en/head
  body.verify-page
    include ../../components/global/en/body-gtm-noscript
    include ../../components/global/en/header-half
    //main
    main.main
      include ../../pages/verify/en/verify
      include ../../pages/index/en/prizes
      include ../../pages/index/en/faq
    include ../../components/global/en/cookies
    include ../../components/global/en/footer
    include ../../components/global/scripts
