.error-block
  +icon('warning')
  p.error-block__text
    b The friend's link appears to be invalid
    span There might be an error with the link. Your friend won't be rewarded for your participation



