section.create
  .container.create__container
    h2.create__title.wow.bounceInUp(data-wow-delay="0.1s") How to create wallet?
    ul.create-list.wow.bounceInUp(data-wow-delay="0.1s")
      li.create-list__item
        +icon('num-bg')
        | Install&nbsp;
        a.link(href="https://metamask.io/download/" target="_blank") Metamask Wallet&nbsp;
        | on your device
      li.create-list__item
        +icon('num-bg')
        | Create new wallet
      li.create-list__item
        +icon('num-bg')
        | Your wallet address starts with «0x...». Copy and paste it into the field
