.modal__overlay
  .modal
    .modal__container
      button.modal__close Close
        +icon('close')
      h3.modal__title Welcome prize
      p.modal__text To get the prize, fulfil the conditions: subscribe to the project's social networks. As soon as the conditions are fulfilled, we will credit you with 1 gift
      span.modal__ticketId ID 8912001
    a.btn_grey.modal-btn Continue
